@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// @mixin absCenter {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

// Grid formula
@mixin calculateColWidth($gutterWidth, $colSize) {
  width: calc(((100% - ((12 / #{$colSize}) * #{$gutterWidth})) / 12) * #{$colSize});
}

@mixin respond($breakpoint) {
  @if $breakpoint==x-small {
    @media (max-width: 26.5em) {

      //576px
      @content;
    }
  }

  @if $breakpoint==small {
    @media (max-width: 36em) {

      //576px
      @content;
    }
  }

  @if $breakpoint==medium {
    @media (max-width: 48em) {
      //768px
      @content;
    }
  }

  @if $breakpoint==large {
    @media (max-width: 62em) {
      //992px
      @content;
    }
  }

  @if $breakpoint==x-large {

    //1200px
    @media (max-width: 75em) {
      @content;
    }
  }
}