// TYPOGRAPHY

//base font
$font-primary: 1.4rem;
$font-h1: 5.1rem;
$font-h2: 3rem;
$font-h3: 2.6rem;
$font-h4: 2.2rem;
$font-h5: 1.8rem;
$font-h6: 1.4rem;
$font-lead: 1.8rem;
$font-small: 1.2rem;


//font weights
$f-thin: 100;
$f-light: 300;
$f-regular: 400;
$f-bold: 700;
$f-black: 900;

// Grid variables
$container-width: 144rem;
$grid-margins: 22rem;
$grid-width: 120rem;

// $gutter-vertical: 2rem;
// $gutter-horizontal: 2rem;
$gutter-vertical: 3rem;
$gutter-horizontal: 3rem;

// $gutter-vertical: 3rem;
// $gutter-horizontal: 3rem;

//Colors
$color-default: #2B292D;
$color-primary: #3498DB;
$color-secondary: #6c757d;
$color-success: #2ECC71;
$color-info: #17a2b8;
$color-warning: #F5A623;
$color-danger: #E74C3C;
$color-muted: #6c757d;

$color-website-primary: #3040C4;
$color-website-secondary: #F3C6BD;

$color-bio: rgba(0, 162, 198, 0.1);
$color-trial: #F4F5F7;



$color-white: #fff;
$color-black: #000;

$color-light: #eee;

// Sizes for margins/padding etc
$rem-1: 1rem;
$rem-2: 2rem;
$rem-3: 3rem;
$rem-4: 4rem;
$rem-5: 5rem;
$rem-6: 6rem;
$rem-7: 7rem;
$rem-8: 8rem;
$rem-9: 9rem;
$rem-10: 10rem;