.hr--light {
    border: none;
    color: #ccc;
    background-color: #ccc;
    height: 2px;
    width: 80%;
}

.hr--blue {
    border: none;
    color: $color-website-primary;
    background-color: $color-website-primary;
    width: 80%;
    height: 3px;
}

.hr--primary {
    border: none;
    color: $color-primary;
    background-color: $color-primary;
    width: 100%;
    height: 3px;
}