// base typography
body {
  font-family: 'Lato', sans-serif;
  font-weight: $f-regular;
  line-height: 1.21;
  color: $color-default;
  font-size: $font-primary;
}

// HEADINGS
.h1 {
  font-size: $font-h1;
  font-weight: $f-bold;
  line-height: 1.2;

  @include respond(large) {
    font-size: 4rem;
  }

}

.h2 {
  font-size: $font-h2;
  font-weight: $f-bold;
  line-height: 1.4;

  @include respond(large) {
    font-size: 2.5rem;
  }
}

.h3 {
  font-size: $font-h3;
  font-weight: $f-bold;
  line-height: 1.39;

  @include respond(large) {
    font-size: 2rem;
  }
}

.h4 {
  font-size: $font-h4;
  font-weight: $f-bold;
  line-height: 1.33;
}

.h5 {
  font-size: $font-h5;
  font-weight: $f-bold;
  line-height: 1.27;
}

.h6 {
  font-size: $font-h6;
  font-weight: $f-bold;
  line-height: 1.21;
}

// paragraphs
.p {
  font-weight: $f-regular;
  line-height: 1.21;
  font-size: $font-primary;

}

.subtitle {
  font-size: 2.1rem;
  line-height: 1.3;
  width: 80%;

  @include respond(large) {
    font-size: 1.6rem;
  }
}

.lead {
  font-weight: $font-lead;
  line-height: 1.21;
  font-size: 1.8rem;

  @include respond(large) {
    font-size: 1.3rem;
  }
}

.small {
  font-weight: $f-regular;
  line-height: 1.17;
  font-size: $font-lead;
}

// Font weights
.font-weight-thin {
  font-weight: $f-thin;
}

.font-weight-light {
  font-weight: $f-light;
}

.font-weight-regular {
  font-weight: $f-regular;
}

.font-weight-bold {
  font-weight: $f-bold;
}

.font-weight-black {
  font-weight: $f-black;
}